body {
    text-align: center;
}

.sortfilter {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

label {
    font-size: large;
}

.reset {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #0CAADA;
    cursor: pointer;
}

.reset h4 {
    padding-left: 5px;
}

.sortfiltersearch {
    position: fixed;
    top: 0;
    width: 80%;
    margin: auto;
    margin-left: 10%;
    background-color: white;
    z-index: 20000;
}

.search input {
    width: 200px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.search button {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    background-color: #0CAADA;
    border: 0px;
    color: aliceblue;
    cursor: pointer;
}

.search button:hover {
    background-color: #069cc9;
}

th{
    font-size: x-large;
    background-color: #0CAADA;
    color: aliceblue;    
    background-color: #069cc9;
    z-index: 2000;
    position: sticky;
    top: 0;
}
table{
    margin: auto;
    height: 600px;
    overflow-y: scroll;
}

.tablediv{
    /*position: fixed;
    top: 0;*/
    margin: auto;
    margin-top: 150px;
    margin-bottom: 300px;
    width: 80%;
    height: 500px;
    overflow-y: scroll;
    margin-left: 10%;
   
}



/*tbody {
    margin-top: 10%;
    
}

.tablediv {
    overflow-y: scroll;
    height: 80vh;
    margin-top: '140px';
    padding-bottom: '100px';
    width: 80%;
    margin: auto;
    border: 1px solid red;
}*/
/*table {
    width: 80%;
    margin: auto;
}

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

th,
thead {
    font-size: x-large;
    background-color: #0CAADA;
    color: aliceblue;
    padding-left: 40px;
    padding-right: 40px;
    z-index: 2000;
}

thead
 {
}*/